.hide {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#reset-container, h1 {
    text-align: center;
}

#reset-button {
    background-color: lightblue;
    color: seagreen;
    
}

#teamone-shoot-button {
    background-color:green;
    color:yellow;
}

#teamtwo-shoot-button{
    background-color:green;
    color:yellow;
}












